<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentNamespace">
	
	<resultMap type="cn.itcast.javaee.mybatis.base.Student" id="studentMap">
		<id property="id" column="sid"/>
		<result property="name" column="sname"/>
		<result property="sal" column="ssal"/>
	</resultMap>	
	
	<insert id="add" parameterType="cn.itcast.javaee.mybatis.base.Student">
		insert into students(sid,sname,ssal) values(#{id},#{name},#{sal})	
	</insert>
	
</mapper>